<template name="app">
  {{ >navbar }}
  <section class="top-hero">
  {{> newMemento }}
</section>
  <section>
    <div class="packery">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>
        <div class="item h"> <img  class="img-responsive" src="http://placehold.it/300x340.jpg"> </div>

     </div>
  </section>
</template>
