<template name="app">
  {{ >navbar }}
  <section class="top-hero">
  {{> newMemento }}
</section>
  <section class="middle-hero">
{{#masonryContainer columnWidth=300 gutter=5 rowheight=340 transitionDuration="0.2s" id="MasonryContainer" }}
        {{#each notes}}
        {{#masonryElement "MasonryContainer"}}
        <div class="item">
        <img  class="img-responsive" src="img/{{img}}">
        <h5>{{title}}</h5>
        <span class="options"> <a href="{{pathFor route='details' _id=this._id title=this.title }}"><i class="fa fa-ellipsis-v fa-lg"></i></a></span>
        <span class="tags-card">
              {{ #each indexedArray tags }}
              #{{ this }}&nbsp;
              {{ /each }}
        </span>
        <span class="daysSince">{{daysSince createdOn}}</span>
        <span class="isComplete"><button class="btn {{displayIsCompleteClass}} toggle-checked"><i class="fa fa-check fa-4x"></i></button></span>
        </div>
        {{/masonryElement}}
        {{/each}}
        {{/masonryContainer}}
  </section>
  <section class="middle-hero footer">
    {{>footer}}
  </section>
</template>
