<template name="resetPassword">
  <section class="top-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Reset Your Password</h1>
          <p>{{getToken}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form>
            <p id="form-messages"></p>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="form-group">
              <label for="newPassword2">Confirm Password</label>
              <input type="password" class="form-control" id="newPassword2">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Submit</button>&nbsp;
              <button class="btn btn-default resetPasswordCancel">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
