<template name="verifyEmailToken">
  <section class="top-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <h1>{{ getError }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <h5>{{ getToken }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <p id="form-messages"></p>
        </div>
      </div>
    </div>
  </section>
</template>
