<template name="changePassword">
  <form class="changePassword-form">
    <h6>New Password</h6>
    <p id="form-messages"></p>
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
    <input type="password" class="form-control" id="oldPassword">
  </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
    <input type="password" class="form-control" id="newPassword">
  </div>
  <div class="form-group">
    <label for="newPassword2">Confirm Password</label>
  <input type="password" class="form-control" id="newPassword2">
</div>
<div class="form-group">
  <button type="submit" class="btn btn-default changePassword-form">Submit</button>&nbsp; <button class="btn btn-default changePasswordCancel">Cancel</button>
</div>
  </form>
</template>
